bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
appsettings.json
appsettings.Development.json
/BrewlogsApi/appsettings.json
/BrewlogsApi/appsettings.Development.json
/BrewlogsApi/HttpRequests/